# <font color='orange'><b>Pandas Ayarları</b> </font>

##### <font color='white'>Pandas, kendi bünyesindeki bazı ayarları kullanıcıların değiştirmesine izin verir. Özellikle veri görüntüleme ile ilgili ayarları kullanıcının veri setine göre kendisinin ayarlaması önerilir. </font> 

<font color='white'>Bu ayarlamalar büyük küçük harfe duyarlı olmayacak şekilde (örn. display.max_rows) şeklinde yapılır.  </font>

In [89]:
import numpy as np
import pandas as pd

- Daha önce yapılan oynamaların gitmesi için ilk olarak ayarları eski haline getirelim.

In [90]:
pd.reset_option("^display")

#### <font color='pink'>Önceki videodan hatırlayacağımız üzere bir veri setini çağırdığımızda ne kadar satırın görüntüleneceğini ayarlayabiliyoruz. </font> 
- <font color='white'>İlk olarak pandasın default kaç satır getirdiğine bakalım. </font>

In [91]:
print(pd.get_option("display.max_rows"))

60

- <font color='white'>Daha sonra bu görüntüleme ayarlarını değiştirelim. </font>

In [92]:
print(f"Default hali \n")
print(pd.get_option("display.max_rows"))

pd.set_option("display.max_rows", 500)

print(f"Değiştirilmiş hali \n")
print(pd.get_option("display.max_rows"))

Default hali

60
Değiştirilmiş hali

500

- get_option() / set_option() - bir ayarı görüntüle/değiştir

- reset_option() - bir ayarı default haline döndür.

- describe_option() - bir veya birden fazla seçeneği tanımlanışını yazdır.

Değiştirdiğimiz satır görüntüleme ayarını default haline getirelim

In [93]:
pd.reset_option("display.max_rows")
print(pd.get_option("display.max_rows"))

60

Ayrıca bütün görüntüleme ayarlarını birden default haline döndürmek mümkündür:

In [94]:
pd.reset_option("^display")

option_context ile çoklu ayar değiştirme yapalım. Bu şekilde with bloğu ile çoklu değişiklilkler yapabiliyoruz. Ancak with içinden çıktığımızda ayarlar eski haline dönecektir.

In [95]:
with pd.option_context("display.max_rows", 10, "display.max_columns", 5):
    print(pd.get_option("display.max_rows"))
    print(pd.get_option("display.max_columns"))

print(pd.get_option("display.max_rows"))
print(pd.get_option("display.max_columns"))

10
5
60
20

#### <font color='orange'>Satır ve sütunların görüntülenme ayarlarından sonra sıklıkla kullanılan diğer ayarlara bakalım. </font> 

- <font color='pink'> expand_frame_repr ile veri setininin görüntülenmesinin nasıl etkilendiğini inceleyelim. Görüleceği üzere expand_frame_repr ile dataframe in satır bazında sayfa boyunca uzanması için ayarlamalar yapılır. </font>

In [96]:
df = pd.DataFrame(np.random.randn(5, 10))

pd.set_option("expand_frame_repr", True)

print(df)

          0         1         2         3         4         5         6  \
0 -1.156233 -2.137572  1.047661 -0.425496 -0.510888 -1.356656  1.207500
1  0.779765 -0.209354 -1.644433  0.115886  0.454018 -1.252811  1.079021
2 -0.214543 -1.238551 -0.302957  1.443237  1.002903  1.095070 -1.295514
3 -0.131644  0.700527  0.629127 -0.004534 -0.372693 -0.191871  1.310349
4  0.731509 -1.165773 -2.476023  1.410887 -0.717485 -1.517352  0.310606

          7         8         9
0  1.866102  1.399735  1.161558
1 -0.377891  0.387346 -1.706412
2 -0.084376  0.629691 -1.197011
3 -0.748103 -0.921603 -0.865154
4 -0.483548  0.282847  0.105618

In [97]:
pd.set_option("expand_frame_repr", False)
print(df)

          0         1         2         3         4         5         6         7         8         9
0 -1.156233 -2.137572  1.047661 -0.425496 -0.510888 -1.356656  1.207500  1.866102  1.399735  1.161558
1  0.779765 -0.209354 -1.644433  0.115886  0.454018 -1.252811  1.079021 -0.377891  0.387346 -1.706412
2 -0.214543 -1.238551 -0.302957  1.443237  1.002903  1.095070 -1.295514 -0.084376  0.629691 -1.197011
3 -0.131644  0.700527  0.629127 -0.004534 -0.372693 -0.191871  1.310349 -0.748103 -0.921603 -0.865154
4  0.731509 -1.165773 -2.476023  1.410887 -0.717485 -1.517352  0.310606 -0.483548  0.282847  0.105618

- <font color='pink'> large_repr ile veri setininin görüntülenmesinin nasıl etkilendiğini inceleyelim. Görüleceği üzere max_columns veya max_rows değerlerini  aşan dataframelerin kesilmiş şekilde mi  yoksa bir özet olarak mı görüntüleyeceğinizi seçmenizi sağlar.
 </font>

In [98]:
df = pd.DataFrame(np.random.randn(10, 10))

pd.set_option("max_rows", 5)

pd.set_option("large_repr", "truncate")

print(df)

           0         1         2         3         4         5         6         7         8         9
0   0.176217  0.908664 -0.138492  0.291145  1.352269  1.052039  0.735661 -0.121873 -1.451029 -1.013603
1  -1.474570 -1.816267  0.827103  0.197964  0.469795 -0.202624 -1.672651 -1.716944 -0.282492 -0.314333
..       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...
8   1.390521 -0.981621  2.279907 -0.699790 -0.582435  0.863413 -0.280460  0.218793 -0.739152  0.291876
9  -0.095854  0.661975  0.062136 -0.703872  0.078271 -0.409088 -0.772036  1.111383  0.024503 -0.190388

[10 rows x 10 columns]

In [99]:
pd.set_option("large_repr", "info")
print(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       10 non-null     float64
 1   1       10 non-null     float64
 2   2       10 non-null     float64
 3   3       10 non-null     float64
 4   4       10 non-null     float64
 5   5       10 non-null     float64
 6   6       10 non-null     float64
 7   7       10 non-null     float64
 8   8       10 non-null     float64
 9   9       10 non-null     float64
dtypes: float64(10)
memory usage: 928.0 bytes

Ayarları defaulta çevirelim

In [100]:
pd.reset_option("large_repr")

In [101]:
pd.reset_option("max_rows")

- <font color='pink'> max_colwidth  ile veri setininin görüntülenmesinin nasıl etkilendiğini inceleyelim. Görüleceği üzere sütunların maksimum genişliğini ayarlar. Bu uzunluktaki veya daha uzun hücreler üç nokta ile kesilecektir. </font>

In [102]:
df = pd.DataFrame(
    np.array(
        [
            ["foo", "bar", "bim", "uncomfortably long string"],
            ["horse", "cow", "banana", "apple"],
        ]
    )
)

In [103]:
pd.set_option("max_colwidth", 40)
print(df)

       0    1       2                          3
0    foo  bar     bim  uncomfortably long string
1  horse  cow  banana                      apple

In [104]:
pd.set_option("max_colwidth", 6)
print(df)

       0    1      2      3
0    foo  bar    bim  un...
1  horse  cow  ba...  apple

- <font color='pink'> max_info_columns   ile veri setininin görüntülenmesinin nasıl etkilendiğini inceleyelim. df.info() şeklinde dataframe hakkında bilgi aldığımızda görüntülenme şekliyle ayarlamalar yapılır. </font>

In [105]:
df = pd.DataFrame(np.random.randn(10, 10))

pd.set_option("max_info_columns", 11)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       10 non-null     float64
 1   1       10 non-null     float64
 2   2       10 non-null     float64
 3   3       10 non-null     float64
 4   4       10 non-null     float64
 5   5       10 non-null     float64
 6   6       10 non-null     float64
 7   7       10 non-null     float64
 8   8       10 non-null     float64
 9   9       10 non-null     float64
dtypes: float64(10)
memory usage: 928.0 bytes

In [106]:
pd.set_option("max_info_columns", 5)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Columns: 10 entries, 0 to 9
dtypes: float64(10)
memory usage: 928.0 bytes

Ayarları eski haline çevirelim

In [107]:
pd.reset_option("max_info_columns")

- <font color='pink'> max_info_rows   ile veri setininin görüntülenmesinin nasıl etkilendiğini inceleyelim. df.info() şeklinde dataframe hakkında bilgi aldığımızda görüntülenme şekliyle ayarlamalar yapılır. </font>

In [108]:
df = pd.DataFrame(np.random.choice([0, 1, np.nan], size=(10, 10)))

print(df)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  1.0  0.0  1.0  NaN  0.0  NaN  0.0
1  0.0  1.0  0.0  NaN  0.0  1.0  1.0  NaN  0.0  0.0
2  NaN  0.0  NaN  1.0  0.0  1.0  1.0  1.0  NaN  NaN
3  0.0  NaN  1.0  1.0  0.0  NaN  0.0  0.0  1.0  1.0
4  NaN  NaN  1.0  1.0  1.0  0.0  1.0  1.0  0.0  1.0
5  NaN  1.0  1.0  1.0  0.0  0.0  1.0  NaN  0.0  NaN
6  NaN  1.0  NaN  NaN  NaN  NaN  NaN  0.0  1.0  0.0
7  0.0  0.0  NaN  NaN  1.0  0.0  NaN  1.0  1.0  NaN
8  NaN  0.0  1.0  NaN  NaN  0.0  0.0  NaN  NaN  NaN
9  0.0  0.0  1.0  1.0  1.0  1.0  0.0  0.0  1.0  NaN

In [109]:
pd.set_option("max_info_rows", 11)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5 non-null      float64
 1   1       8 non-null      float64
 2   2       7 non-null      float64
 3   3       6 non-null      float64
 4   4       8 non-null      float64
 5   5       8 non-null      float64
 6   6       7 non-null      float64
 7   7       7 non-null      float64
 8   8       7 non-null      float64
 9   9       5 non-null      float64
dtypes: float64(10)
memory usage: 928.0 bytes

In [110]:
pd.set_option("max_info_rows", 5)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   0       float64
 1   1       float64
 2   2       float64
 3   3       float64
 4   4       float64
 5   5       float64
 6   6       float64
 7   7       float64
 8   8       float64
 9   9       float64
dtypes: float64(10)
memory usage: 928.0 bytes

Bütün görüntüleme ayarlarımızı sıfırlayalım

In [111]:
pd.reset_option("^display")

- <font color='pink'> precision    ile veri setininin görüntülenmesinin nasıl etkilendiğini inceleyelim. Görüleceği üzere verilerin virgülden sonraki basamağı ile ilgili ayarlamalar yapılır. </font>

In [112]:
df = pd.DataFrame(np.random.randn(5, 5))

pd.set_option("precision", 7)

df

           0          1          2          3          4
0  1.8471820 -0.2576153  0.7639671 -0.0620824 -0.5740030
1  0.2567543 -0.5728511 -0.1656426  0.4027447  0.2734485
2  0.4190399 -1.1102848 -0.9944368  0.1783706  0.9219410
3  1.0650146 -1.1732636  0.4343681 -0.2128760  0.2764259
4 -1.6819344  0.1242968 -1.0857307  1.2320732  1.1624839

In [113]:
pd.set_option("precision", 4)

df

        0       1       2       3       4
0  1.8472 -0.2576  0.7640 -0.0621 -0.5740
1  0.2568 -0.5729 -0.1656  0.4027  0.2734
2  0.4190 -1.1103 -0.9944  0.1784  0.9219
3  1.0650 -1.1733  0.4344 -0.2129  0.2764
4 -1.6819  0.1243 -1.0857  1.2321  1.1625

In [114]:
pd.reset_option("^display")

- <font color='pink'> chop_threshold ile veri setininin görüntülenmesinin nasıl etkilendiğini inceleyelim. Görüleceği üzere bir DataFrame görüntülediğinde pandasın sayıları hangi düzeyde gösterileceğini ayarlar. Precision dan farkı, burada yapılan ayarlar sadece görüntüleme ile ilgilidir. Hesaplamalarda sayının tamamı kullanılır.

In [115]:
df = pd.DataFrame(np.random.randn(6, 6))

pd.set_option("chop_threshold", 0)

df

          0         1         2         3         4         5
0 -1.752077  1.017393  1.477761  1.003040  0.166298 -0.135647
1 -2.196159  2.293093  1.765069 -0.685330 -0.060659  0.401942
2  0.531395 -0.056742 -0.921771  0.103939  0.046279  0.866104
3 -0.636005 -2.149484 -0.639144 -1.612028 -0.354321  0.463397
4 -1.096050 -1.135257  0.913026  1.186977 -0.542038  0.847066
5  0.453183  1.668842 -1.569877  0.179114  0.181916  1.811261

In [116]:
pd.set_option("chop_threshold", 0.5)

df

          0         1         2         3         4         5
0 -1.752077  1.017393  1.477761  1.003040  0.000000  0.000000
1 -2.196159  2.293093  1.765069 -0.685330  0.000000  0.000000
2  0.531395  0.000000 -0.921771  0.000000  0.000000  0.866104
3 -0.636005 -2.149484 -0.639144 -1.612028  0.000000  0.000000
4 -1.096050 -1.135257  0.913026  1.186977 -0.542038  0.847066
5  0.000000  1.668842 -1.569877  0.000000  0.000000  1.811261

In [117]:
pd.reset_option("chop_threshold")

- <font color='pink'> colheader_justify  ile veri setininin görüntülenmesinin nasıl etkilendiğini inceleyelim. Görüleceği üzere bir DataFrame görüntülediğinde kolon başlıklarının sağa veya sola yaslanması ile ilgili ayarlar yapılır.

In [118]:
df = pd.DataFrame(
    np.array([np.random.randn(6), np.random.randint(1, 9, 6) * 0.1, np.zeros(6)]).T,
    columns=["A", "B", "C"],
    dtype="float",
)

In [119]:
pd.set_option("colheader_justify", "right")
df

          A    B    C
0 -0.330601  0.8  0.0
1 -0.029762  0.3  0.0
2  0.365060  0.4  0.0
3 -0.283164  0.6  0.0
4 -0.627206  0.1  0.0
5 -0.215437  0.2  0.0

In [120]:
pd.set_option("colheader_justify", "left")
df

   A         B    C
0 -0.330601  0.8  0.0
1 -0.029762  0.3  0.0
2  0.365060  0.4  0.0
3 -0.283164  0.6  0.0
4 -0.627206  0.1  0.0
5 -0.215437  0.2  0.0

In [88]:
pd.reset_option("colheader_justify")

<font color='orange'><b>Pandas ayrıca sayıların konsolda nasıl görüntüleneceğini ayarlamanıza da olanak tanır. Bu değişiklikler, set_options API aracılığıyla ayarlanmaz.</b> </font>

In [137]:
import numpy as np

In [138]:
np.random.RandomState(2)
seri = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])
seri

a    0.665441
b    1.553350
c   -0.359345
d    0.004056
e    2.084102
dtype: float64

In [139]:
pd.set_eng_float_format(accuracy=3, use_eng_prefix=True)

In [140]:
seri

a    665.441m
b       1.553
c   -359.345m
d      4.056m
e       2.084
dtype: float64

In [141]:
seri / 1.0e3

a    665.441u
b      1.553m
c   -359.345u
d      4.056u
e      2.084m
dtype: float64

In [151]:
pd.reset_option("^display")