#  <font color='pink'> Pandasta farklı indekslemeler  </font> 

***

In [96]:
import numpy as np
import pandas as pd

- <font color='bisque'>Bir data frame oluşturarak başlayalım</font> <br>

In [97]:
veriler = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

indeksler = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(veriler, index = indeksler)



df

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

- <font color='bisque'>Aşağıdaki gibi kolon değerlerini değiştirebiliriz.</font> <br>

In [98]:
df[['name', 'score']] = df[['score', 'name']]

In [99]:
df

   name      score  attempts qualify
a  12.5  Anastasia         1     yes
b   9.0       Dima         3      no
c  16.5  Katherine         2     yes
d   NaN      James         3      no
e   9.0      Emily         2      no
f  20.0    Michael         3     yes
g  14.5    Matthew         1     yes
h   NaN      Laura         1      no
i   8.0      Kevin         2      no
j  19.0      Jonas         1     yes

- <font color='bisque'> loc ile indexleme yaparken seri.b şeklinde indeks adımızı girerek de değer çağırabiliriz.</font> <br>

In [100]:
seri = pd.Series([1, 2, 3], index=list('abc'))
seri

a    1
b    2
c    3
dtype: int64

In [101]:
seri.b

2

- <font color='bisque'>Ayrıca bir DataFrame deki değeri sözlük yapısı şeklinde vererek değiştirebilirsiniz.:</font> <br>

In [102]:
df = pd.DataFrame({'x': [1, 2, 3], 'y': [3, 4, 5]})
df

   x  y
0  1  3
1  2  4
2  3  5

In [103]:
df.iloc[1] = {'x': 9, 'y': 99}

df

   x   y
0  1   3
1  9  99
2  3   5

##### <font color='bisque'>Yeni dataframe:</font> <br>

In [104]:
df1 = pd.DataFrame(np.random.randn(6, 4),
                   index=list('abcdef'),
                   columns=list('ABCD'))
df1

          A         B         C         D
a  0.312266  0.588906 -1.414703 -0.771947
b  0.666395  0.504069 -0.759805 -0.748297
c -0.418541 -0.341197 -0.468159  0.553674
d -0.616107 -0.973910 -0.260792  0.531323
e -1.693251  0.415558  0.188044  1.153103
f  0.033536 -0.493057 -0.954218 -0.872719

- <font color='bisque'>loc ile daha önce bu indekslemeleri yapmıştık:</font> <br>

In [105]:
df1.loc[['a', 'b', 'd'], :]

          A         B         C         D
a  0.312266  0.588906 -1.414703 -0.771947
b  0.666395  0.504069 -0.759805 -0.748297
d -0.616107 -0.973910 -0.260792  0.531323

In [106]:
df1.loc['d':, 'A':'C']

          A         B         C
d -0.616107 -0.973910 -0.260792
e -1.693251  0.415558  0.188044
f  0.033536 -0.493057 -0.954218

##### <font color='bisque'>Boolean ile çağırma:</font> <br>

- <font color='bisque'>Not: NA değerler False olarak değerlendirilir</font> <br>

In [107]:
df1.loc["a"] > 0

A     True
B     True
C    False
D    False
Name: a, dtype: bool

##### <font color='bisque'>Yeni seri: (indeksler sırasız)</font> <br>

In [109]:
seri = pd.Series(list('abcde'), index=[0, 3, 2, 5, 4])
seri

0    a
3    b
2    c
5    d
4    e
dtype: object

In [110]:
seri.loc[3:5] #loc iloc farkını unutmayın

3    b
2    c
5    d
dtype: object

- <font color='bisque'>İndeksleri sıralayalım</font> <br>

In [111]:
seri.sort_index()

0    a
2    c
3    b
4    e
5    d
dtype: object

In [112]:
seri.sort_index().iloc[1:6]

2    c
3    b
4    e
5    d
dtype: object

##### <font color='bisque'>Random seçim yapma</font> <br>
- <font color='bisque'>sample() yöntemiyle bir Seri veya DataFrame'den rastgele satır veya sütun seçimi yapabiliriz.</font> <br>

In [113]:
s = pd.Series([0, 1, 2, 3, 4, 5])
s

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [117]:
# Eğer kaç örnek alacağımızı belirtmezsek 1 değer dönecektir.
s.sample()

4    4
dtype: int64

In [119]:
# 3 tane rastgele örnek seçmek isteyelim
s.sample(n=3)

4    4
2    2
0    0
dtype: int64

- <font color='bisque'>Varsayılan olarak, sample() her satırı en fazla bir kez döndürür, ancak replace seçeneği kullanılarak bu durum değiştirilebilir:</font> <br>

In [121]:
s = pd.Series([0, 1, 2, 3, 4, 5])

# Default olarak replace = False:
s.sample(n=6, replace=False)

2    2
4    4
1    1
3    3
5    5
0    0
dtype: int64

In [123]:
# With replacement:
print(s.sample(n=6, replace=True))

2    2
5    5
3    3
4    4
4    4
5    5
dtype: int64

#### <font color='bisque'>Bir seriyi veya dataframe i indeksleme yaparak büyütmek</font> <br>
- <font color='bisque'>Yeni bir seri oluşturalım ve seride olmayan bir indekse değer atayalım.</font> <br>

In [124]:
s = pd.Series([1, 2, 3])

In [125]:
s

0    1
1    2
2    3
dtype: int64

- <font color='bisque'>Verideki bütün değerlerin veri tipinin değiştiğine dikkat edelim.</font> <br>

In [126]:
s[5] = 5.0
s

0    1.0
1    2.0
2    3.0
5    5.0
dtype: float64

- <font color='bisque'>Bir DataFrame, .loc aracılığıyla her iki eksende de büyütülebilir.</font> <br>

In [127]:
df = pd.DataFrame(np.arange(6).reshape(3, 2),
                   columns=['A', 'B'])

df

   A  B
0  0  1
1  2  3
2  4  5

In [128]:
df.loc[::,"C"] = df.loc[::,"A"]
df

   A  B  C
0  0  1  0
1  2  3  2
2  4  5  4

In [129]:
df["D"] = df["A"]

df

   A  B  C  D
0  0  1  0  0
1  2  3  2  2
2  4  5  4  4

- <font color='bisque'>Yalnızca bir skaler değere erişmek istiyorsanız, en hızlı yol, tüm veri yapılarında uygulanan at ve iat yöntemlerini kullanmaktır.</font>

In [131]:
df.iat[2, 0]

4

<font color='bisque'>Yukarıda tanımladığımız seriyi tekrar çağıralım.</font>

In [132]:
s

0    1.0
1    2.0
2    3.0
5    5.0
dtype: float64

In [133]:
s.iat[2]

3.0

#### <font color='bisque'> Boolean indeksleme</font> <br>

- <font color='bisque'> Verileri filtrelemek için çok yaygın kullanılan yöntemlerden biridir.</font> <br>
- <font color='bisque'> Ya da için: |</font> <br>
- <font color='bisque'> Ve için: &</font> <br>
- <font color='bisque'> Değil için: ~</font> <br>

In [134]:
s = pd.Series(range(-3, 4))
s

0   -3
1   -2
2   -1
3    0
4    1
5    2
6    3
dtype: int64

In [135]:
s[s > 0]

4    1
5    2
6    3
dtype: int64

In [136]:
s[(s < -1) | (s > 0.5)]

0   -3
1   -2
4    1
5    2
6    3
dtype: int64

In [137]:
s[~(s < 0)]

3    0
4    1
5    2
6    3
dtype: int64

#### <font color='bisque'> isin() ile indeksleme</font> <br>
- <font color='bisque'>İki seri düşünün, birinin elemanları diğerinde var mı diye sormak için isin() kullanabiliriz.</font> <br>

In [138]:
s = pd.Series(np.arange(5), index=np.arange(5)[::-1], dtype='int64')

s

4    0
3    1
2    2
1    3
0    4
dtype: int64

In [139]:
s.isin([2, 4, 6])

4    False
3    False
2     True
1    False
0     True
dtype: bool

In [141]:
s.index.isin([2, 4, 6])

array([ True, False,  True, False, False])

In [140]:
s[s.index.isin([2, 4, 6])]

4    0
2    2
dtype: int64

In [142]:
df = pd.DataFrame({'vals': [1, 2, 3, 4], 'ids': ['a', 'b', 'f', 'n'],
                   'ids2': ['a', 'n', 'c', 'n']})
df

   vals ids ids2
0     1   a    a
1     2   b    n
2     3   f    c
3     4   n    n

In [143]:
values = ['a', 'b', 1, 3]

df.isin(values)

    vals    ids   ids2
0   True   True   True
1  False   True  False
2   True  False  False
3  False  False  False

### <font color='bisque'> query() yöntemi</font> <br>

In [144]:
df = pd.DataFrame(np.random.rand(10, 3), columns=list('abc'))

df

          a         b         c
0  0.079799  0.658190  0.352763
1  0.181187  0.804809  0.149362
2  0.757401  0.226543  0.937714
3  0.760254  0.904829  0.109316
4  0.131982  0.963371  0.073581
5  0.922194  0.559786  0.794711
6  0.406061  0.475415  0.777482
7  0.682158  0.076136  0.886640
8  0.119715  0.476733  0.045288
9  0.496671  0.448960  0.710112

In [145]:
df[(df['a'] < df['b']) & (df['b'] < df['c'])] #c>b>a

          a         b         c
6  0.406061  0.475415  0.777482

In [146]:
df.query('(a < b) & (b < c)')

          a         b         c
6  0.406061  0.475415  0.777482

In [147]:
df = pd.DataFrame(np.random.randint(10, size=(10, 2)), columns=list('bc'))

df

   b  c
0  8  4
1  3  6
2  9  8
3  8  1
4  9  0
5  1  5
6  4  5
7  6  9
8  3  0
9  4  9

In [148]:
df.query('index < b < c')

   b  c
1  3  6

In [149]:
df.query('index > 2')

   b  c
3  8  1
4  9  0
5  1  5
6  4  5
7  6  9
8  3  0
9  4  9

In [150]:
df.index.name = 'a'
df

   b  c
a
0  8  4
1  3  6
2  9  8
3  8  1
4  9  0
5  1  5
6  4  5
7  6  9
8  3  0
9  4  9

In [151]:
df.query('a < b < c')

   b  c
a
1  3  6

- <font color='bisque'> in ve notin operatörlerini inceleyelim.</font> <br>

In [152]:
df = pd.DataFrame({'a': list('aabbccddeeff'), 'b': list('aaaabbbbcccc'),
                   'c': np.random.randint(5, size=12),
                   'd': np.random.randint(9, size=12)})


df

    a  b  c  d
0   a  a  4  6
1   a  a  2  6
2   b  a  1  6
3   b  a  0  7
4   c  b  0  7
5   c  b  1  2
6   d  b  0  6
7   d  b  2  0
8   e  c  3  8
9   e  c  3  3
10  f  c  2  0
11  f  c  3  7

In [153]:
df.query('a in b')

   a  b  c  d
0  a  a  4  6
1  a  a  2  6
2  b  a  1  6
3  b  a  0  7
4  c  b  0  7
5  c  b  1  2

In [154]:
# Query language kullanmadan python ile bu şekilde yapıyorduk.
df[df['a'].isin(df['b'])]

   a  b  c  d
0  a  a  4  6
1  a  a  2  6
2  b  a  1  6
3  b  a  0  7
4  c  b  0  7
5  c  b  1  2

In [155]:
df.query('a not in b')

    a  b  c  d
6   d  b  0  6
7   d  b  2  0
8   e  c  3  8
9   e  c  3  3
10  f  c  2  0
11  f  c  3  7

In [156]:
df[~        df['a'].isin(df['b'])]

    a  b  c  d
6   d  b  0  6
7   d  b  2  0
8   e  c  3  8
9   e  c  3  3
10  f  c  2  0
11  f  c  3  7

<font color='bisque'> Yeni dataframe oluşturup, spesifik bir query yapalım ve normal pandas ile yazdığımız koda göre işimizi ne kadar kolaylaştırdığına bakalım.</font> <br>

In [157]:
df = pd.DataFrame(np.random.rand(8, 3), columns=list('abc'))
df['random'] = np.random.randn(len(df)) 

df

          a         b         c    random
0  0.478654  0.590059  0.687118 -1.015322
1  0.960739  0.663326  0.904823  0.219691
2  0.808733  0.903810  0.127158 -0.591082
3  0.969338  0.237457  0.442834 -0.907098
4  0.305109  0.075923  0.919473  0.229033
5  0.274092  0.485669  0.739749 -0.012342
6  0.091005  0.563754  0.826707  0.450203
7  0.998789  0.285816  0.694369 -0.793106

In [158]:
with_query = df.query('(a < b < c) and ( ((c + b) > random) or (random*3 > 0.5) )')

with_query

          a         b         c    random
0  0.478654  0.590059  0.687118 -1.015322
5  0.274092  0.485669  0.739749 -0.012342
6  0.091005  0.563754  0.826707  0.450203

In [159]:
without_query = df[(df['a'] < df['b'])
            & (df['b'] < df['c'])
            & ((df['c']+ df['b'] > df['random'])
            | (df['random']*3 > 0.5))]

without_query

          a         b         c    random
0  0.478654  0.590059  0.687118 -1.015322
5  0.274092  0.485669  0.739749 -0.012342
6  0.091005  0.563754  0.826707  0.450203

# <font color='gold'> MultiIndex</font> <br>

<font color='bisque'> MultiIndex, özellikle yüksek boyutlu verilerle çalışırken oldukça karmaşık veri analizi ve manipülasyonu yapmamızı sağladığı için oldukça önemlidir.</font> <br>

- <font color='bisque'> MultiIndex li bir veri oluşturalım.</font> <br>

In [161]:
n = 10

renkler = np.random.choice(["sarı", "kırmızı", "mavi"], size=n)

yiyecekler = np.random.choice(["yumurta", "ekmek", "köfte", "salata"], size=n)

print(renkler)

print(yiyecekler)

['kırmızı' 'kırmızı' 'kırmızı' 'mavi' 'kırmızı' 'sarı' 'mavi' 'kırmızı'
 'sarı' 'mavi']
['yumurta' 'ekmek' 'köfte' 'ekmek' 'salata' 'köfte' 'yumurta' 'ekmek'
 'ekmek' 'köfte']

In [162]:
index = pd.MultiIndex.from_arrays([renkler, yiyecekler], names=['renk', 'yiyecek'])

df = pd.DataFrame(np.random.randn(n, 2), index=index)

df

                        0         1
renk    yiyecek
kırmızı yumurta -1.464914 -1.563336
        ekmek   -1.733971  1.102445
        köfte   -0.400645 -1.619533
mavi    ekmek    1.758481  0.569201
kırmızı salata  -1.682082 -0.267595
sarı    köfte    0.931004 -0.446152
mavi    yumurta  0.626222 -1.405864
kırmızı ekmek    0.168082 -0.921897
sarı    ekmek    2.317693  0.569816
mavi    köfte    0.864510  0.191470

<font color='bisque'> Kolaylık sağlamak ve bir MultiIndex'i otomatik olarak oluşturmak için bir dizi listesini doğrudan Seri veya DataFrame'in içine atabilirsiniz:
</font> <br>

In [163]:
renkler = np.random.choice(["sarı", "kırmızı", "mavi"], size=n)

yiyecekler = np.random.choice(["yumurta", "ekmek", "köfte", "salata"], size=n)

arrays = [renkler, yiyecekler]

In [164]:
s = pd.Series(np.random.randn(n), index=arrays)

s

sarı     yumurta    0.658272
         köfte     -1.561379
mavi     köfte     -1.186526
         ekmek      0.736348
sarı     köfte     -0.027529
mavi     yumurta    1.469491
sarı     köfte      0.869750
kırmızı  köfte     -1.740556
mavi     ekmek     -2.138826
sarı     köfte     -0.393901
dtype: float64

In [165]:
df = pd.DataFrame(np.random.randn(n, 4), index=arrays)

df

                        0         1         2         3
sarı    yumurta -0.300092  0.384672  0.282910 -0.006122
        köfte    0.781517 -0.489955 -0.383339 -0.555589
mavi    köfte   -1.850162 -0.434225 -1.086359 -0.941506
        ekmek    0.364177 -0.614268 -1.131350  1.674280
sarı    köfte    2.474475 -0.423231 -1.250336 -1.518831
mavi    yumurta -1.526457  0.489819 -0.122557  2.521485
sarı    köfte    0.315989 -0.939266  2.133344  0.915147
kırmızı köfte    2.440661 -1.710933  1.905590  0.115238
mavi    ekmek   -1.844078 -1.710529 -1.282811 -0.548397
sarı    köfte    0.380016 -0.542385  0.732981 -0.900130

In [166]:
df = pd.DataFrame(np.random.randn(3, n), index=["A", "B", "C"], columns=index)

df

renk      kırmızı                          mavi   kırmızı      sarı      mavi  \
yiyecek   yumurta     ekmek     köfte     ekmek    salata     köfte   yumurta
A        0.495147 -1.154164 -1.384448 -0.124544 -0.189985  1.390644  0.280309
B       -0.822936 -0.714049  0.242857  0.518685  1.470113 -0.784938 -0.328418
C        1.984004  0.411597 -1.199239  2.574479  0.113203 -0.317557  0.668768

renk      kırmızı      sarı      mavi
yiyecek     ekmek     ekmek     köfte
A        0.261324 -0.275164  0.286571
B       -0.713640 -0.708665 -0.552834
C       -0.544727 -1.237829 -0.436626

In [167]:
index

MultiIndex([('kırmızı', 'yumurta'),
            ('kırmızı',   'ekmek'),
            ('kırmızı',   'köfte'),
            (   'mavi',   'ekmek'),
            ('kırmızı',  'salata'),
            (   'sarı',   'köfte'),
            (   'mavi', 'yumurta'),
            ('kırmızı',   'ekmek'),
            (   'sarı',   'ekmek'),
            (   'mavi',   'köfte')],
           names=['renk', 'yiyecek'])

In [168]:
index.get_level_values(0)

Index(['kırmızı', 'kırmızı', 'kırmızı', 'mavi', 'kırmızı', 'sarı', 'mavi',
       'kırmızı', 'sarı', 'mavi'],
      dtype='object', name='renk')

In [169]:
index.get_level_values(1)

Index(['yumurta', 'ekmek', 'köfte', 'ekmek', 'salata', 'köfte', 'yumurta',
       'ekmek', 'ekmek', 'köfte'],
      dtype='object', name='yiyecek')

## <font color='bisque'> MultiIndex ile indeksleme işlemleri
</font> <br>

In [170]:
df

renk      kırmızı                          mavi   kırmızı      sarı      mavi  \
yiyecek   yumurta     ekmek     köfte     ekmek    salata     köfte   yumurta
A        0.495147 -1.154164 -1.384448 -0.124544 -0.189985  1.390644  0.280309
B       -0.822936 -0.714049  0.242857  0.518685  1.470113 -0.784938 -0.328418
C        1.984004  0.411597 -1.199239  2.574479  0.113203 -0.317557  0.668768

renk      kırmızı      sarı      mavi
yiyecek     ekmek     ekmek     köfte
A        0.261324 -0.275164  0.286571
B       -0.713640 -0.708665 -0.552834
C       -0.544727 -1.237829 -0.436626

In [171]:
df["kırmızı"]

yiyecek   yumurta     ekmek     köfte    salata     ekmek
A        0.495147 -1.154164 -1.384448 -0.189985  0.261324
B       -0.822936 -0.714049  0.242857  1.470113 -0.713640
C        1.984004  0.411597 -1.199239  0.113203 -0.544727

In [172]:
df["kırmızı", "salata"]

C:\Users\maest\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2901: PerformanceWarning: indexing past lexsort depth may impact performance.
  result = self._run_cell(

renk      kırmızı
yiyecek    salata
A       -0.189985
B        1.470113
C        0.113203

- <font color='bisque'> Tanımlanmış seviyeler (level)
</font> <br>

In [173]:
df.columns.levels

FrozenList([['kırmızı', 'mavi', 'sarı'], ['ekmek', 'köfte', 'salata', 'yumurta']])

<font color='bisque'> MultiIndex ile ileri indeksleme
</font> <br>

In [174]:
s

sarı     yumurta    0.658272
         köfte     -1.561379
mavi     köfte     -1.186526
         ekmek      0.736348
sarı     köfte     -0.027529
mavi     yumurta    1.469491
sarı     köfte      0.869750
kırmızı  köfte     -1.740556
mavi     ekmek     -2.138826
sarı     köfte     -0.393901
dtype: float64

In [177]:
s2 = s[0:2]
s2

sarı  yumurta    0.658272
      köfte     -1.561379
dtype: float64

In [178]:
s2[0:2][1]

-1.5613794092529443

In [179]:
index

MultiIndex([('kırmızı', 'yumurta'),
            ('kırmızı',   'ekmek'),
            ('kırmızı',   'köfte'),
            (   'mavi',   'ekmek'),
            ('kırmızı',  'salata'),
            (   'sarı',   'köfte'),
            (   'mavi', 'yumurta'),
            ('kırmızı',   'ekmek'),
            (   'sarı',   'ekmek'),
            (   'mavi',   'köfte')],
           names=['renk', 'yiyecek'])

In [180]:
df

renk      kırmızı                          mavi   kırmızı      sarı      mavi  \
yiyecek   yumurta     ekmek     köfte     ekmek    salata     köfte   yumurta
A        0.495147 -1.154164 -1.384448 -0.124544 -0.189985  1.390644  0.280309
B       -0.822936 -0.714049  0.242857  0.518685  1.470113 -0.784938 -0.328418
C        1.984004  0.411597 -1.199239  2.574479  0.113203 -0.317557  0.668768

renk      kırmızı      sarı      mavi
yiyecek     ekmek     ekmek     köfte
A        0.261324 -0.275164  0.286571
B       -0.713640 -0.708665 -0.552834
C       -0.544727 -1.237829 -0.436626

In [181]:
df = df.T
df

                        A         B         C
renk    yiyecek
kırmızı yumurta  0.495147 -0.822936  1.984004
        ekmek   -1.154164 -0.714049  0.411597
        köfte   -1.384448  0.242857 -1.199239
mavi    ekmek   -0.124544  0.518685  2.574479
kırmızı salata  -0.189985  1.470113  0.113203
sarı    köfte    1.390644 -0.784938 -0.317557
mavi    yumurta  0.280309 -0.328418  0.668768
kırmızı ekmek    0.261324 -0.713640 -0.544727
sarı    ekmek   -0.275164 -0.708665 -1.237829
mavi    köfte    0.286571 -0.552834 -0.436626

In [182]:
df.loc[("sarı", "köfte")] #hangi satırı istediğimiz

C:\Users\maest\AppData\Local\Temp/ipykernel_8896/2243957117.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df.loc[("sarı", "köfte")] #hangi satırı istediğimiz

                     A         B         C
renk yiyecek
sarı köfte    1.390644 -0.784938 -0.317557

In [183]:
df.loc[("sarı", "köfte"), "A"] # Bu satırda A kolonunu istediğimizi söylüyoruz.

C:\Users\maest\anaconda3\lib\site-packages\pandas\core\indexing.py:925: PerformanceWarning: indexing past lexsort depth may impact performance.
  return self._getitem_tuple(key)

renk  yiyecek
sarı  köfte      1.390644
Name: A, dtype: float64

In [184]:
df

                        A         B         C
renk    yiyecek
kırmızı yumurta  0.495147 -0.822936  1.984004
        ekmek   -1.154164 -0.714049  0.411597
        köfte   -1.384448  0.242857 -1.199239
mavi    ekmek   -0.124544  0.518685  2.574479
kırmızı salata  -0.189985  1.470113  0.113203
sarı    köfte    1.390644 -0.784938 -0.317557
mavi    yumurta  0.280309 -0.328418  0.668768
kırmızı ekmek    0.261324 -0.713640 -0.544727
sarı    ekmek   -0.275164 -0.708665 -1.237829
mavi    köfte    0.286571 -0.552834 -0.436626

In [185]:
df.loc["kırmızı"]

                A         B         C
yiyecek
yumurta  0.495147 -0.822936  1.984004
ekmek   -1.154164 -0.714049  0.411597
köfte   -1.384448  0.242857 -1.199239
salata  -0.189985  1.470113  0.113203
ekmek    0.261324 -0.713640 -0.544727

Dilimleme işlemleri

In [186]:
df.iloc[0:2]

                        A         B         C
renk    yiyecek
kırmızı yumurta  0.495147 -0.822936  1.984004
        ekmek   -1.154164 -0.714049  0.411597

In [187]:
df.iloc[0:2, 0:2]

                        A         B
renk    yiyecek
kırmızı yumurta  0.495147 -0.822936
        ekmek   -1.154164 -0.714049

In [188]:
df.iloc[0:1, 0:1]

                        A
renk    yiyecek
kırmızı yumurta  0.495147

- <font color='bisque'> MultiIndex query()</font> <br>

In [189]:
df

                        A         B         C
renk    yiyecek
kırmızı yumurta  0.495147 -0.822936  1.984004
        ekmek   -1.154164 -0.714049  0.411597
        köfte   -1.384448  0.242857 -1.199239
mavi    ekmek   -0.124544  0.518685  2.574479
kırmızı salata  -0.189985  1.470113  0.113203
sarı    köfte    1.390644 -0.784938 -0.317557
mavi    yumurta  0.280309 -0.328418  0.668768
kırmızı ekmek    0.261324 -0.713640 -0.544727
sarı    ekmek   -0.275164 -0.708665 -1.237829
mavi    köfte    0.286571 -0.552834 -0.436626

In [190]:
df.query('renk == "sarı"')

                     A         B         C
renk yiyecek
sarı köfte    1.390644 -0.784938 -0.317557
     ekmek   -0.275164 -0.708665 -1.237829

In [191]:
df.query("((renk == 'sarı') & (yiyecek == 'köfte'))")

                     A         B         C
renk yiyecek
sarı köfte    1.390644 -0.784938 -0.317557

In [192]:
df.query("((renk == 'mavi') & (yiyecek == 'köfte'))")

                     A         B         C
renk yiyecek
mavi köfte    0.286571 -0.552834 -0.436626