#  <p style="font-family: Arial; font-size:1.4em;color:orange;"> Pandas DataFrame Egzersizleri </p>

In [1]:
import numpy as np
import pandas as pd

##### <p style="font-family: Arial; font-size:1.4em;color:pink;"> **Egzersiz-1** </p>
**Aşağıdaki sözlük yapısındaki verilerden bir DataFrame oluşturun ve verilen indeksleri kullanın.**

- veriler = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

- indeksler = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [2]:
veriler = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

indeksler = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(veriler, index = indeksler)

print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

##### <p style="font-family: Arial; font-size:1.4em;color:pink;"> **Egzersiz-2** </p>
**Yukarıda oluşturduğunuz DataFrame' in temel bilgilerini yazdırın.**

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

##### <p style="font-family: Arial; font-size:1.4em;color:pink;"> **Egzersiz-3** </p>
**Yukarıda oluşturduğunuz DataFrame' in ilk 3 satırını iloc kullanarak getirin.**

In [4]:
print(df.iloc[:3, ::])

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

##### <p style="font-family: Arial; font-size:1.4em;color:pink;"> **Egzersiz-4** </p>
**Yukarıda oluşturduğunuz DataFrame'in "name" ve "score" kolonlarındaki bütün değerleri yazdırın.**

In [5]:
print(df[["name", "score"]])

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

##### <p style="font-family: Arial; font-size:1.4em;color:pink;"> **Egzersiz-5** </p>
**Yukarıda oluşturduğunuz DataFrame'in "name" ve "score" kolonlarındaki 1,3,5,6 satırlarındaki değerleri yazdırın.**

In [6]:
df

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [7]:
print(df.iloc[[0, 2, 4, 5], [0, 1]])

        name  score
a  Anastasia   12.5
c  Katherine   16.5
e      Emily    9.0
f    Michael   20.0

##### <p style="font-family: Arial; font-size:1.4em;color:pink;"> **Egzersiz-6** </p>
**Yukarıda oluşturduğunuz DataFrame'de sınava 2 den fazla giren kişileri yazdırın.**

In [9]:
print(df[df["attempts"] > 2])

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

##### <p style="font-family: Arial; font-size:1.4em;color:pink;"> **Egzersiz-7** </p>
**Yukarıda oluşturduğunuz DataFrame'in satır ve sütun sayılarını yazdırınız.**

In [11]:
print(df.shape)

print(f"Satır sayısı = {df.shape[0]}, sütun sayısı = {df.shape[1]}")

(10, 4)
Satır sayısı = 10, sütun sayısı = 4

##### <p style="font-family: Arial; font-size:1.4em;color:pink;"> **Egzersiz-8** </p>
**Yukarıda oluşturduğunuz DataFrame'de sınav skoru 15 ile 20 arasında olanları yazdırın.**

In [12]:
print(df[df["score"].between(15, 20)])

        name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes

##### <p style="font-family: Arial; font-size:1.4em;color:pink;"> **Egzersiz-9** </p>
**Yukarıda oluşturduğunuz DataFrame'de sınava 1 kere girmiş ve skoru 15 ten fazla olan kişiye ait verileri yazdırın.**

In [15]:
print(df[ (df["attempts"] ==1) & (df["score"] > 15) ])

    name  score  attempts qualify
j  Jonas   19.0         1     yes

##### <p style="font-family: Arial; font-size:1.4em;color:pink;"> **Egzersiz-10** </p>
**Yukarıda oluşturduğunuz DataFrame'de indeksi d olan satırdaki skor değerini 11.5 ile değiştirin.**

In [16]:
df

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [18]:
df.loc["d", "score"] = 11.5

df

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

##### <p style="font-family: Arial; font-size:1.4em;color:pink;"> **Egzersiz-11** </p>
**Yukarıda oluşturduğunuz DataFrame'de öğrecilerin ortalama skorunu hesaplayın.**

In [19]:
print(df["score"].mean())

13.333333333333334

##### <p style="font-family: Arial; font-size:1.4em;color:pink;"> **Egzersiz-12** </p>
**Yukarıda oluşturduğunuz DataFrame'de qualify kolonundaki yes ve no değerlerini true false ile değiştirin.**

In [20]:
df["qualify"] = df["qualify"].map({ "yes":True,
                                    "no": False
                                        })

print(df)

        name  score  attempts  qualify
a  Anastasia   12.5         1     True
b       Dima    9.0         3    False
c  Katherine   16.5         2     True
d      James   11.5         3    False
e      Emily    9.0         2    False
f    Michael   20.0         3     True
g    Matthew   14.5         1     True
h      Laura    NaN         1    False
i      Kevin    8.0         2    False
j      Jonas   19.0         1     True

- apply() Bir serinin değerlerine veya DataFrame in bir kolon veya satırına fonksiyon uygulamak için kullanılır
- apllymap() DataFrame lerin her elemanına fonksiyon uygulamak için kullanılır.
- map() Bir serinin bütün değerlerini veya DataFrame in bir kolon ve satırındaki değerleri başka bir değerle değiştirmek için kullanılır.

##### <p style="font-family: Arial; font-size:1.4em;color:pink;"> **Egzersiz-13** </p>
**Yukarıda oluşturduğunuz DataFrame'de James adını Suresh ile değiştirin.**

In [21]:
df["name"] = df["name"].replace("James", "Suresh")
print(df)

        name  score  attempts  qualify
a  Anastasia   12.5         1     True
b       Dima    9.0         3    False
c  Katherine   16.5         2     True
d     Suresh   11.5         3    False
e      Emily    9.0         2    False
f    Michael   20.0         3     True
g    Matthew   14.5         1     True
h      Laura    NaN         1    False
i      Kevin    8.0         2    False
j      Jonas   19.0         1     True

##### <p style="font-family: Arial; font-size:1.4em;color:pink;"> **Egzersiz-14** </p>
**Yukarıda oluşturduğunuz DataFrame'e aşağıdaki kolonu ekleyin.**
- color = ['Red','Blue','Orange','Red','White','White','Blue','Green','Green','Red']

In [22]:
color = ['Red','Blue','Orange','Red','White','White','Blue','Green','Green','Red']

df["color"] = color

print(df)

        name  score  attempts  qualify   color
a  Anastasia   12.5         1     True     Red
b       Dima    9.0         3    False    Blue
c  Katherine   16.5         2     True  Orange
d     Suresh   11.5         3    False     Red
e      Emily    9.0         2    False   White
f    Michael   20.0         3     True   White
g    Matthew   14.5         1     True    Blue
h      Laura    NaN         1    False   Green
i      Kevin    8.0         2    False   Green
j      Jonas   19.0         1     True     Red

##### <p style="font-family: Arial; font-size:1.4em;color:pink;"> **Egzersiz-15** </p>
**Aşağıdaki DataFrame'in kolonlarının ismini değiştirin.**

- df = pd.DataFrame({'col1': [1, 2, 3], 'col2': [4, 5, 6], 'col3': [7, 8, 9]})

- Yeni kolon isimleri: ['Column1', 'Column2', 'Column3']

In [23]:
df = pd.DataFrame({'col1': [1, 2, 3], 'col2': [4, 5, 6], 'col3': [7, 8, 9]})

yeni_kolon = ['Column1', 'Column2', 'Column3']

df.columns = yeni_kolon

print(df)

   Column1  Column2  Column3
0        1        4        7
1        2        5        8
2        3        6        9

##### <p style="font-family: Arial; font-size:1.4em;color:pink;"> **Egzersiz-16** </p>
**Aşağıdaki dataframe i değerleri tab ile ayrılacak şekilde CSV dosyasına çevirin.**

- df = pd.DataFrame({'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]})

In [24]:
df = pd.DataFrame({'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]})
df.to_csv("new_file.csv", sep="\t", index = False)

new_df = pd.read_csv("new_file.csv")
print(new_df)

  col1\tcol2\tcol3
0          1\t4\t7
1          4\t5\t8
2          3\t6\t9
3          4\t7\t0
4          5\t8\t1

##### <p style="font-family: Arial; font-size:1.4em;color:pink;"> **Egzersiz-17** </p>
**California, Georgia, Los Angeles'da kaç kişi yaşadığını bulun.**

- df1 = pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'city': ['California', 'Los Angeles', 'California', 'California', 'California', 'Los Angeles', 'Los Angeles', 'Georgia', 'Georgia', 'Los Angeles']})

In [29]:
df1 = pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'city': ['California', 'Los Angeles', 'California', 'California', 'California', 'Los Angeles', 'Los Angeles', 'Georgia', 'Georgia', 'Los Angeles']})
df2 = df1.groupby(["city"]).size().reset_index(name = "Kişi Sayısı")

print(df2)

          city  Kişi Sayısı
0   California            4
1      Georgia            2
2  Los Angeles            4

##### <p style="font-family: Arial; font-size:1.4em;color:pink;"> **Egzersiz-19** </p>
**Daha fazla satır ve sütun görebilmek için pandas ayarlarını değiştirin.**

- df = pd.DataFrame({'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]})

In [36]:
df = pd.DataFrame({'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]})

pd.set_option("display.max_rows", 500)
pd.set_option("display.max_columns", 500)

print(df)

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

##### <p style="font-family: Arial; font-size:1.4em;color:pink;"> **Egzersiz-20** </p>
**Aşağıdaki verilerde eksik değerleri 0 ile doldurun.**

- df = pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']})

In [38]:
df = pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']})

print(f"nan hali {df}")

df.fillna(0, inplace=True)

print(f"0lı hali {df}")

nan hali         name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes
0lı hali         name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    0.0         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    0.0         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

##### <p style="font-family: Arial; font-size:1.4em;color:pink;"> **Egzersiz-21** </p>
**Aşağıdaki DataFrame in indexlerini bir kolon olarak ekleyin.**
- df = pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']})

In [41]:
df = pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']})

print(f"normal hali \n {df}")

df.reset_index(inplace= True)

print(f" değişmiş hali \n {df}")

normal hali
         name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes
 değişmiş hali
    index       name  score  attempts qualify
0      0  Anastasia   12.5         1     yes
1      1       Dima    9.0         3      no
2      2  Katherine   16.5         2     yes
3      3      James    NaN         3      no
4      4      Emily    9.0         2      no
5      5    Michael   20.0         3     yes
6      6    Matthew   14.5         1     yes
7      7      Laura    NaN         1      no
8      8      Kevin    8.0         2      no
9      9      Jonas   19.0         1     yes

##### <p style="font-family: Arial; font-size:1.4em;color:pink;"> **Egzersiz-22** </p>

**Aşağıdaki DataFrame de eksik verilerin sayısını tespit edin.**

- df = pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']})

In [43]:
df = pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']})

print(df.info())

print(df.isnull().values.sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 448.0+ bytes
None
2

##### <p style="font-family: Arial; font-size:1.4em;color:pink;"> **Egzersiz-23** </p>

**Aşağıdaki DataFrame de 2. ve 4. indeksli satırları atın.**

- df = pd.DataFrame({'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]})

In [44]:
df = pd.DataFrame({'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]})

df.drop(df.index[[2, 4]], inplace= True)

print(df)

   col1  col2  col3
0     1     4     7
1     4     5     8
3     4     7     0

##### <p style="font-family: Arial; font-size:1.4em;color:pink;"> **Egzersiz-24** </p>

**Aşağıdaki DataFrame i önce sınava girme sayılarına göre daha sonra isimlerine göre azalan şekilde sıralayın.**

- df = pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']})

In [47]:
df = pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']})

df = df.sort_values(["attempts", "name"], ascending=[False,False])

print(df)

        name  score  attempts qualify
5    Michael   20.0         3     yes
3      James    NaN         3      no
1       Dima    9.0         3      no
8      Kevin    8.0         2      no
2  Katherine   16.5         2     yes
4      Emily    9.0         2      no
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
9      Jonas   19.0         1     yes
0  Anastasia   12.5         1     yes

##### <p style="font-family: Arial; font-size:1.4em;color:pink;"> **Egzersiz-25** </p>
**Aşağıdaki listeyi dataframe e çevirin.**
- liste = [['col1', 'col2'], [2, 4], [1, 3]]

In [49]:
liste = [['col1', 'col2'], [2, 4], [1, 3]]
print(liste)
basliklar = liste.pop(0)
print(liste)

df = pd.DataFrame(liste, columns = basliklar)

print(df)

[['col1', 'col2'], [2, 4], [1, 3]]
[[2, 4], [1, 3]]
   col1  col2
0     2     4
1     1     3

#### [Linkedin](https://www.linkedin.com/in/oguzhankir/), [Youtube](https://www.youtube.com/playlist?list=PLhxaF_H_a_2kZujvUyTRi-J3-BbXvY76G)